@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(39 39 42);
  background-image: url("/milad-fakurian-3hIaqX3VuXE-unsplash.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.icon-bounce {
  animation: bounce 2s infinite;
  animation-delay: 5s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.email-icon {
  width: 80px;
  height: 80px;
}

.container-title {
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.container-card {
  position: relative;
  background: linear-gradient(71deg, #080509, #161517, #080509);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: 50vh;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 6rem;
  overflow-y: auto;
}

.container-card-two {
  position: relative;
  background: linear-gradient(71deg, #080509, #161517, #080509);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: 82vh;
  width: 40vw;
  margin-left: 5rem;
  overflow-y: auto;
}

.container-card-three {
  position: relative;
  background: linear-gradient(71deg, #080509, #161517, #080509);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: 40vh;
  width: 40vw;
  margin-left: 10rem;
  overflow-y: auto;
}

p,
ul {
  font-size: 16px;
}

@media only screen and (max-width: 1000px), (max-height: 800px) {
  #logo {
    font-size: 150%;
  }
  p,
  li {
    font-size: 90%;
  }

  ul {
    padding-left: 0;
    padding-right: 0;
  }

  .text-justify.px-20 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .project-grid {
    display: flex !important;
    flex-direction: column !important;
  }

  img {
    max-width: 100% !important;
    height: auto !important;
  }

  .project-image-1,
  .project-image-2 {
    width: 16rem !important;
    max-width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }

  .project-image-3,
  .project-image-4 {
    width: 10rem !important;
    max-width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }

  .project-image-5,
  .project-image-6 {
    width: 12rem !important;
    max-width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }

  .project-image-7,
  .project-image-8 {
    width: 20rem !important;
    max-width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
  }

  .px-20 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .text-8xl {
    font-size: 80%;
  }

  .text-3xl {
    font-size: 40%;
  }

  .text-2xl {
    font-size: 250%;
  }

  .fixed.top-0 a {
    font-size: 60%;
  }

  .container-card,
  .container-card-two,
  .container-card-three {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 40vh;
    overflow-y: auto;
    width: 80vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .container-title {
    font-size: 16px;
  }

  .arrow {
    padding: 0.5rem;
  }

  .contact-grid {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media only screen and (min-width: 600px) {
  .fixed.top-0 a {
    font-size: 90%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .container-card,
  .container-card-two,
  .container-card-three {
    overflow-y: auto;
  }

  p.px-20 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  ul {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
